services:
    zookeeper:
        image: confluentinc/cp-zookeeper:7.5.0
        container_name: zookeeper
        environment:
            ZOOKEEPER_CLIENT_PORT: 2181
            ZOOKEEPER_TICK_TIME: 2000
        networks:
            - kafka-network

    kafka-broker-1:
        image: confluentinc/cp-kafka:7.5.0
        container_name: kafka-broker-1
        depends_on:
            - zookeeper
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-1:9092,PLAINTEXT_HOST://localhost:9094
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_MIN_INSYNC_REPLICAS: 2
        ports:
            - "9094:9094"
        networks:
            - kafka-network
    kafka-broker-2:
        image: confluentinc/cp-kafka:7.5.0
        container_name: kafka-broker-2
        depends_on:
            - zookeeper
        environment:
            KAFKA_BROKER_ID: 2
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-2:9092,PLAINTEXT_HOST://localhost:9095
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_MIN_INSYNC_REPLICAS: 2
        ports:
            - "9095:9095"
        networks:
            - kafka-network
    kafka-broker-3:
        image: confluentinc/cp-kafka:7.5.0
        container_name: kafka-broker-3
        depends_on:
            - zookeeper
        environment:
            KAFKA_BROKER_ID: 3
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-broker-3:9092,PLAINTEXT_HOST://localhost:9096
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
            KAFKA_MIN_INSYNC_REPLICAS: 2
        ports:
            - "9096:9096"
        networks:
            - kafka-network
    kafka-ui:
        image: provectuslabs/kafka-ui:latest
        container_name: kafka-ui
        environment:
            KAFKA_CLUSTERS_0_NAME: local-cluster
            KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-broker-1:9092,kafka-broker-2:9092,kafka-broker-3:9092
            KAFKA_CLUSTERS_0_READONLY: false
            KAFKA_CLUSTERS_0_TOPIC_AUTO_CREATE: true
        ports:
            - "8080:8080"
        depends_on:
            - kafka-broker-1
            - kafka-broker-2
            - kafka-broker-3
        networks:
            - kafka-network

networks:
    kafka-network:
        driver: bridge
